.section {
    padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
    color: #fff;
    background-color: #020808;
}
.section-content {
	width: 80%;
	border: 1px solid rgb(131, 131, 131);
	border-radius: 20px;
}
.section-content-container {
	text-align: left;
}
.section-content-info {
	display: flex;
	margin-left: 20px;
	line-height: 60%;
	margin-bottom: 40px;
}
.section-content-header {
	font-size: 22px;
}
.section-content-text {
	font-size: 12px;
	color: #aaa;
}
.section-content-table {
	display: flex;
	text-align: center;
	line-height: 30px;
}
.content-table-item {
	height: 30px;
	width: 25%;
	color: #aaa;
	font-size: 12px;
}
.section-content-table:nth-child(even) .content-table-item {
	background-color: rgb(36, 35, 35);
}